<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.wiki.model.mapper.EbookSnapshotMapper">
    <resultMap id="BaseResultMap" type="com.mumu.wiki.model.pojo.EbookSnapshot">
        <!--@mbg.generated-->
        <!--@Table ebook_snapshot-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="ebook_id" jdbcType="BIGINT" property="ebookId"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="vote_count" jdbcType="INTEGER" property="voteCount"/>
        <result column="view_increase" jdbcType="INTEGER" property="viewIncrease"/>
        <result column="vote_increase" jdbcType="INTEGER" property="voteIncrease"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, ebook_id, `date`, view_count, vote_count, view_increase, vote_increase
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        SELECT
        <include refid="Base_Column_List"/>
        FROM ebook_snapshot
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        DELETE FROM ebook_snapshot
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mumu.wiki.model.pojo.EbookSnapshot"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        INSERT INTO ebook_snapshot (ebook_id, `date`, view_count,
        vote_count, view_increase, vote_increase
        )
        VALUES (#{ebookId,jdbcType=BIGINT}, #{date,jdbcType=DATE}, #{viewCount,jdbcType=INTEGER},
        #{voteCount,jdbcType=INTEGER}, #{viewIncrease,jdbcType=INTEGER}, #{voteIncrease,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mumu.wiki.model.pojo.EbookSnapshot"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        INSERT INTO ebook_snapshot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ebookId != null">
                ebook_id,
            </if>
            <if test="date != null">
                `date`,
            </if>
            <if test="viewCount != null">
                view_count,
            </if>
            <if test="voteCount != null">
                vote_count,
            </if>
            <if test="viewIncrease != null">
                view_increase,
            </if>
            <if test="voteIncrease != null">
                vote_increase,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ebookId != null">
                #{ebookId,jdbcType=BIGINT},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="viewCount != null">
                #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="voteCount != null">
                #{voteCount,jdbcType=INTEGER},
            </if>
            <if test="viewIncrease != null">
                #{viewIncrease,jdbcType=INTEGER},
            </if>
            <if test="voteIncrease != null">
                #{voteIncrease,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mumu.wiki.model.pojo.EbookSnapshot">
        <!--@mbg.generated-->
        UPDATE ebook_snapshot
        <set>
            <if test="ebookId != null">
                ebook_id = #{ebookId,jdbcType=BIGINT},
            </if>
            <if test="date != null">
                `date` = #{date,jdbcType=DATE},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="voteCount != null">
                vote_count = #{voteCount,jdbcType=INTEGER},
            </if>
            <if test="viewIncrease != null">
                view_increase = #{viewIncrease,jdbcType=INTEGER},
            </if>
            <if test="voteIncrease != null">
                vote_increase = #{voteIncrease,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mumu.wiki.model.pojo.EbookSnapshot">
        <!--@mbg.generated-->
        UPDATE ebook_snapshot
        SET ebook_id = #{ebookId,jdbcType=BIGINT},
        `date` = #{date,jdbcType=DATE},
        view_count = #{viewCount,jdbcType=INTEGER},
        vote_count = #{voteCount,jdbcType=INTEGER},
        view_increase = #{viewIncrease,jdbcType=INTEGER},
        vote_increase = #{voteIncrease,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="genEbookSnapshot">
        #所有的电子书生成一条今天的快照（如果没有),在快照表中插入电子书id，今日日期，其他数据置为0
                INSERT INTO ebook_snapshot(ebook_id, date, view_count, vote_count, view_increase, vote_increase)
                SELECT t1.id, CURDATE(), 0, 0, 0, 0
                FROM ebook t1
                WHERE NOT EXISTS(SELECT 1 FROM ebook_snapshot t2 WHERE t1.id = t2.ebook_id AND t2.date = CURDATE());

                #将电子书表的总阅读数、总点赞数更新到快照表中
                UPDATE ebook_snapshot t1, ebook t2
                SET t1.view_count = t2.view_count,
                    t1.vote_count = t2.vote_count
                WHERE t1.date = CURDATE()
                  AND t1.ebook_id = t2.id;

                #将今日新增的阅读数、点赞数更新到快照表中
                UPDATE ebook_snapshot t1 LEFT JOIN (SELECT ebook_id, view_count, vote_count
                                                    FROM ebook_snapshot
                                                    WHERE date = DATE_SUB(CURDATE(), INTERVAL 1 DAY)) t2
                        ON t1.ebook_id = t2.ebook_id
                SET t1.view_increase = t1.view_count - IFNULL(t2.view_count, 0),
                    t1.vote_increase = t1.vote_count - IFNULL(t2.vote_count, 0)
                WHERE date = CURDATE();
    </update>
</mapper>